<section class="pricing-plane-area section_padding_100_70 clearfix" id="servicos">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Heading Text  -->
                <div class="section-heading text-center">
                    <h2 class="section-title">Serviços</h2>
                    <div class="line-shape"></div>
                    <h5 class="pt-60 text-gray">O <strong>BIU</strong> executa tarifas competitivas que favorecem o
                        passageiro e o motorista parceiro. Proporcionamos aos usuários mais segurança, humanização e
                        parceria durante nossas corridas.</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4">
                <div id="homo-driver-card" class="single-special-white text-center wow">
                    <div class="single-icon">
                        <img src="./assets/img/driver/driver.webp">
                    </div>
                    <h4>BIU AMIGO</h4>
                    <p>Carro Comum</p>
                    <p>Requisitos mínimos:</p>
                    <p>Idade máxima 7 anos</p>
                    <p>4 portas e 5 lugares</p>
                    <p>Ar condicionado.</p>
                    <small>Todos os Modelos de Biu, precisam passar por <strong>VISTORIA PRELIMINAR</strong>, envio de documentos dos carros e condutores.</small>

                </div>
            </div>
            <div class="col-12 col-md-4">
                <div id="homo-executive-card" class="single-special-white text-center wow">
                    <div class="single-icon">
                        <img src="./assets/img/driver/executivo.webp">
                    </div>
                    <h4>BIU TOP</h4>
                    <p>Carro com porta-malas maior</p>
                    <p>Requisitos mínimos:</p>
                    <p>Idade máxima 6 anos</p>
                    <p>Apenas veículos SEDAN e SUV</p>
                    <p>Ar condicionado</p>
                    <small>Todos os Modelos de Biu, precisam passar por <strong>VISTORIA PRELIMINAR</strong>, envio de documentos dos carros e condutores.
                    </small>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div id="homo-lux-card" class="single-special-white text-center wow">
                    <div class="single-icon">
                        <img src="./assets/img/driver/luxo.webp">
                    </div>
                    <h4>BIU RAIZ</h4>
                    <p>Requisitos mínimos:</p>
                    <p>Idade máxima 5 anos</p>
                    <p>4 portas e 5 lugares</p>
                    <p>Ar condicionado</p>
                    <small>Todos os Modelos de Biu, precisam passar por <strong>VISTORIA PRELIMINAR</strong>, envio de documentos dos carros e condutores.
                    </small>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-12 col-md-4">
                <div id="homo-pet-card" class="single-special-white text-center wow">
                    <div class="single-icon">
                        <img src="./assets/img/driver/pet.webp">
                    </div>
                    <h4>BIU PET</h4>
                    <p>ACEITA TRANSPORTAR ANIMAIS</p>
                    <p>Requisitos mínimos:</p>
                    <p>Idade máxima 7 anos</p>
                    <p>4 portas e 5 lugares</p>
                    <p>Ar condicionado</p>
                    <small>Todos os Modelos de Biu, precisam passar por <strong>VISTORIA PRELIMINAR</strong>, envio de documentos dos carros e condutores.
                    </small>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div id="homo-baby-card" class="single-special-white text-center wow">
                    <div class="single-icon">
                        <img src="./assets/img/driver/baby.webp">
                    </div>
                    <h4>BIU BABY</h4>
                    <p>Com cadeirinha de elevação</p>
                    <p>Requisitos mínimos:</p>
                    <p>Idade máxima 7 anos</p>
                    <p>4 portas e 5 lugares</p>
                    <p>Ar condicionado</p>
                    <small>Todos os Modelos de Biu, precisam passar por <strong>VISTORIA PRELIMINAR</strong>, envio de documentos dos carros e condutores.
                    </small>
                </div>
            </div>
            
        </div>
    </div>
</section>