<section class="wellcome_faq clearfix" id="principal">
    <div class="container h-105">
        <div class="row h-105 align-items-center">
            <div class="col-12 col-md-8 offset-md-2 text-center">
                <div class="wellcome-heading" style="margin-bottom:0">
                    <h4>Clube de Vantagens</h4>
                    <span>Você poderá ter muitas vantagens</span>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="clube" class="pricing-plane-area section_padding_100_70 clearfix">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Heading Text  -->
                <div class="section-heading text-center">
                    <h2 class="section-title">Vantagens</h2>
                    <div class="line-shape"></div>
                    <!-- <h5 class="pt-60 text-gray">O <strong>BIU</strong> executa tarifas competitivas que favorecem o
                        passageiro e o motorista parceiro. Proporcionamos aos usuários mais segurança, humanização e
                        parceria durante nossas corridas.</h5> -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="single-special-white text-center wow">
                    <div class="single-icon">
                        <img src="./assets/img/clube/clube.webp">
                    </div>
                    <h4>Lorem Ipsum</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="single-special-white text-center wow">
                    <div class="single-icon">
                        <img src="./assets/img/clube/clube.webp">
                    </div>
                    <h4>Lorem Ipsum</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="single-special-white text-center wow">
                    <div class="single-icon">
                        <img src="./assets/img/clube/clube.webp">
                    </div>
                    <h4>Lorem Ipsum</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-4">
                <div class="single-special-white text-center wow">
                    <div class="single-icon">
                        <img src="./assets/img/clube/clube.webp">
                    </div>
                    <h4>Lorem Ipsum</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="single-special-white text-center wow">
                    <div class="single-icon">
                        <img src="./assets/img/clube/clube.webp">
                    </div>
                    <h4>Lorem Ipsum</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="single-special-white text-center wow">
                    <div class="single-icon">
                        <img src="./assets/img/clube/clube.webp">
                    </div>
                    <h4>Lorem Ipsum</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
            </div>

        </div>
    </div>
</section>