<section class="wellcome_franchise clearfix" id="principal">
    <div class="container h-105">
        <div class="row h-105 align-items-center">
            <div class="col-12 col-md-8 offset-md-2 text-center">
                <div class="wellcome-heading" style="margin-bottom:0">
                    <h4>SEJA DONO DO SEU PRÓPRIO NEGÓCIO</h4>
                </div>

                <div class="row">
                    <div class="col-12 col-md-8 offset-md-2">
                        <div class="get-start-area">
                            <div class="app-download-area">
                                <div class="app-download-btn wow fadeInUp">
                                    <!-- Google Store Btn -->
                                    <a class="download-app download-app-google" href="https://docs.google.com/forms/d/e/1FAIpQLSfdlJClxiClECX0Md-0kpZgMWw9gX0f4IvIeNSBGyT1K8sEPw/viewform?embedded=true" target="_blank">
                                        <p class="mb-0 text-white">Quero ser um franqueado</p>
                                    </a>
                                </div>

                                <div class="app-download-btn wow fadeInDown">
                                    <!-- Apple Store Btn -->
                                    <a class="" href="#franquia">
                                        <p class="mb-0 text-white">Mais Detalhes</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <br />
                <br />
                <br />

                <!-- ***** Video Area Start ***** -->
                <div class="video-section">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <!-- Video Area Start -->
                                <div class="video-area" style="background-image: url(./assets/img/video-2.png);">
                                    <div class="video-play-btn">
                                        <a href="https://www.youtube.com/watch?v=LA9Hdw1p9_U" class="video_btn">
                                            <i class="fa fa-play" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ***** Video Area End ***** --> 
            </div>
        </div>
    </div>
</section>
