<section class="footer-contact-area section_padding_50 clearfix" id="contato">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <!-- Heading Text  -->
                <div class="section-heading">
                    <h2 class="section-title">Tem uma dúvida? <br>A gente te ajuda ;)</h2>
                    <h5>NOS TE AJUDAMOS! VENHA TOMAR UM CAFÉ CONOSCO!</h5>
                    <div class="line-shape"></div>
                </div>
                <div class="footer-text">
                    <p>Se você tem alguma dúvida, sugestão ou reclamação, entre em contato conosco através do e-mail
                        abaixo, nos enviando uma mensagem ou venha pessoalmente falar conosco.</p>
                </div>
                <div class="email-text">
                    <p><span>Email:</span> <a href="mailto:contato@chamaobiu.com.br"> contato@chamaobiu.com.br</a></p>
                </div>
            </div>
            <div class="col-md-6">
                <!-- Form Start-->
                <div class="contact_from">
                    <form action="#" method="post">
                        <!-- Message Input Area Start -->
                        <div class="contact_input_area">
                            <div class="row">
                                <!-- Single Input Area Start -->
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="name" id="name" placeholder="Nome"
                                            required>
                                    </div>
                                </div>
                                <!-- Single Input Area Start -->
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="email" class="form-control" name="email" id="email"
                                            placeholder="E-mail" required>
                                    </div>
                                </div>
                                <!-- Single Input Area Start -->
                                <div class="col-12">
                                    <div class="form-group">
                                        <textarea name="message" class="form-control" id="message" cols="30" rows="4"
                                            placeholder="Mensagem" required></textarea>
                                    </div>
                                </div>
                                <!-- Single Input Area Start -->
                                <div class="col-12">
                                    <button type="submit" class="btn submit-btn"
                                        data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Enviando...">Enviar</button>
                                </div>
                            </div>
                        </div>
                        <!-- Message Input Area End -->
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>