<section class="footer-contact-area section_padding_50 clearfix" id="contato">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <!-- Heading Text  -->
                <div class="section-heading">
                    <h2 class="section-title">TEM UMA DÚVIDA? <br>NOS TE AJUDAMOS!</h2>
                    <!-- <h5>NOS TE AJUDAMOS! VENHA TOMAR UM CAFÉ CONOSCO!</h5> -->
                    <div class="line-shape"></div>
                </div>
                <div class="footer-text">
                    <p>Se você tem alguma dúvida, sugestão ou reclamação, entre em contato conosco através do e-mail abaixo, Whatsapp (21) 9999-99999, ou ligando para (21) 2534-3434.</p>
                </div> 
                <div class="email-text">
                    <p><span>Email:</span> <a href="mailto:contato@chamaobiu.com"> contato@chamaobiu.com</a></p>
                </div>
                <div class="email-text">
                    <p><span><a href="https://goo.gl/maps/pFYcXbRJUQNwyo9n6" target="_blank">Av. Quintino Bocaiúva, 311 Sala 207 edifício Bay Office - São Francisco, Niterói - RJ, 24360-022</a></span> </p>
                </div>
            </div>
            <div class="col-md-6">
                <!-- Form Start-->
                <div class="contact_from">
                    <form action="#" method="post">
                        <!-- Message Input Area Start -->
                        <div class="contact_input_area">
                            <div class="row">
                                <!-- Single Input Area Start -->
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="name" id="name" placeholder="Nome"
                                            required>
                                    </div>
                                </div>
                                <!-- Single Input Area Start -->
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="email" class="form-control" name="email" id="email"
                                            placeholder="E-mail" required>
                                    </div>
                                </div>
                                <!-- Single Input Area Start -->
                                <div class="col-12">
                                    <div class="form-group">
                                        <textarea name="message" class="form-control" id="message" cols="30" rows="4"
                                            placeholder="Mensagem" required></textarea>
                                    </div>
                                </div>
                                <!-- Single Input Area Start -->
                                <div class="col-12">
                                    <button type="submit" class="btn submit-btn"
                                        data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Enviando...">Enviar</button>
                                </div>
                            </div>
                        </div>
                        <!-- Message Input Area End -->
                    </form>
                </div>
            </div>
        </div>
    </div>

    

</section>