<section class="app-bg-area bg-gray section_padding_100_70 clearfix" id="locais">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Heading Text  -->
                <div class="section-heading text-center">
                    <h2 class="section-title">Locais</h2>
                    <div class="line-shape"></div>
                </div>
            </div>
        </div>

        <div class="app_bg_slides owl-carousel">
            <div class="single-shot">
                <img src="./assets/img/background/locais.webp" alt="locais">
            </div>
            <!-- <div class="single-shot"> 
                    <img src="img/bg-img/grande-floripa.png" alt="">
                </div> -->
        </div>
    </div>
</section>