<section class="app-screenshots-area bg-white section_padding_0_100 clearfix" id="download">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <!-- Heading Text  -->
                <div class="section-heading">
                    <h2 class="section-title">Baixe o <strong>aplicativo</strong></h2>
                    <div class="line-shape"></div>
                    <div class="app-download-area div-center justify-content-center">
                        <div class="app-download-btn wow">
                            <!-- Google Store Btn -->
                            <a class="download-app download-app-google" href="javascript:void(0)">
                                <i class="fa fa-android"></i>
                                <p class="mb-0"><span>disponível na</span> Google Store</p>
                            </a>
                        </div>
                        <div class="app-download-btn wow">
                            <!-- Apple Store Btn -->
                            <a class="download-app download-app-apple" href="javascript:void(0)">
                                <i class="fa fa-apple"></i>
                                <p class="mb-0"><span>disponível na</span> Apple Store</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <!-- App Screenshots Slides  -->
                <div class="app_screenshots_slides owl-carousel">
                    <div class="single-shot">
                        <img src="./assets/img/app/mobile-1.webp" alt="">
                    </div>
                    <div class="single-shot">
                        <img src="./assets/img/app/mobile-2.webp" alt="">
                    </div>
                    <div class="single-shot">
                        <img src="./assets/img/app/mobile-3.webp" alt="">
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</section>