<div class="video-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Video Area Start -->
                <div class="video-area" style="background-image: url(./assets/img/background/video.webp);">
                    <div class="video-play-btn">
                        <a href="./assets/video/video-1.mp4" class="video_btn">
                            <i class="fa fa-play" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>


