    <!-- footer logo -->
    <div class="footer-text">
        <img src="./assets/img/logo-footer.png" width="150">
    </div>
    <!-- social icon-->
    <div class="footer-social-icon">
        <a href="http://www.facebook.com/HomoDriver-1882555432050261/" target="_blank">
            <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
        <a href="http://www.instagram.com/homodriverapp" target="_blank">
            <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
        <a href="http://www.youtube.com/channel/UCA2GQ94JudkFQiz9biKBn4Q" target="_blank">
            <i class="fa fa-youtube" aria-hidden="true"></i>
        </a>
        <a href="http://www.linkedin.com/company/homodriver/" target="_blank">
            <i class="fa fa-linkedin" aria-hidden="true"></i>
        </a>
        <a href="http://twitter.com/homodriverapp" target="_blank">
            <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
    </div>
    <div class="footer-menu">
        <nav>
            <ul>
                <li>
                    <a href="termosmotorista.html">
                        Termos Motorista
                    </a>
                </li>
                <li>
                    <a href="termosusuario.html">
                        Termos Passageiro
                    </a>
                </li>
                <li>
                    <a href="politicadeprivacidade.html"> 
                        Política de Privacidade
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <!-- Foooter Text-->
    <div class="copyright-text">
        <span>Copyright © 
            <script>document.write(new Date().getFullYear())</script> Homo Driver - Todos os direitos reservados</span>
        <br>
        <!-- <span>Desenvolvido por <a href="https://colorlib.com" target="_blank">Colorlib</a></span> -->
    </div>
