<footer class="footer-social-icon text-center section_padding_70 clearfix">

<!-- footer logo -->
<div class="footer-text">
    <img src="./assets/img/logo-footer.png" width="150">
</div>
<!-- social icon-->
<div class="footer-social-icon">
    <a href="http://www.facebook.com/chamaobiu" target="_blank">
        <i class="fa fa-facebook" aria-hidden="true"></i>
    </a>
    <a href="http://www.instagram.com/chamaobiu" target="_blank">
        <i class="fa fa-instagram" aria-hidden="true"></i>
    </a>
    <a href="#" target="_blank">
        <i class="fa fa-whatsapp" aria-hidden="true"></i>
    </a>
</div>
<div class="footer-menu">
    <nav>
        <ul>
            <li>
                <a href="termosmotorista.html">
                    Termos Motorista
                </a>
            </li>
            <li>
                <a href="termosusuario.html">
                    Termos Passageiro
                </a>
            </li>
            <li>
                <a href="politicadeprivacidade.html">
                    Política de Privacidade
                </a>
            </li>
        </ul>
    </nav>
</div>
<!-- Foooter Text-->

<!-- <div class="copyright-text">
    <span>Copyright ©
        <span id="anoAtual">Ano atual</span> Biu - Todos os direitos reservados</span>
    <br>
     <span>developed by 
         <a href="https://firecodesystems.com" target="_blank">Firecode Systems</a> and
         <a href="#" target="_blank">Agência Eva</a>
        </span> 
</div> -->


 <div class="copyright-text">
    <span>Copyright © 2020
        <script>retornaAno();</script> Biu - Todos os direitos reservados</span>
    <br>
     <span>developed by 
         <a href="https://firecodesystems.com" target="_blank">Firecode Systems</a> and
         <a href="#" target="_blank">Agência Eva</a>
        </span> 


</div>

</footer>
