<section class="special-area bg-white section_padding_100" id="parceiro">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Section Heading Area -->
                <div class="section-heading text-center">
                    <h2 class="section-title">SOMOS O 1º APP DE TRANSPORTE DE NITERÓI FEITO PARA NITERÓI</h2>
                    <div class="line-shape"></div>
                    <h5 class="pt-60 text-gray">Estamos iniciando em Niterói um novo conceito de Aplicativo de
                        Mobilidade Urbana, mais humana!</h5>
                    <h5 class="text-gray">Nossos motoristas tem acesso bônus e premiações, além de ter um custo menor do
                        que os outros apps, dessa forma tem uma qualidade de vida melhor!</h5>
                    <h5 class="text-gray">Temos como conceito ser mais humanos, motoristas e passageiros integrados e
                        felizes.</h5>
                    <h5 class="text-gray">Tanto motoristas quanto passageiros tem Bônus por utilizar o app e sorteios
                        semanais de vários prémios.</h5>
                    <h5 class="text-gray">Nosso clube de vantagens é local!</h5>

                </div>
            </div>
        </div>

        <div class="row">
            <!-- Single Special Area -->
            <div class="col-12 col-md-3">
                <div class="single-special text-center wow fadeInUp" data-wow-delay="0.2s">
                    <div class="single-icon">
                        <i class="ti-money" aria-hidden="true"></i>
                    </div>
                    <h4>Pagamento Justo</h4>
                    <p>Cobramos apenas uma pequena taxa por cada corrida realizada.</p>
                </div>
            </div>
            <!-- Single Special Area -->
            <div class="col-12 col-md-3">
                <div class="single-special text-center wow fadeInUp" data-wow-delay="0.4s">
                    <div class="single-icon">
                        <i class="ti-car" aria-hidden="true"></i>
                    </div>
                    <h4>Clube de Vantagens</h4>
                    <p>Estamos fazendo Parcerias com Instituições Financeiras, Restaurantes, Farmácias, Planos de Saúde,
                        Odontológico, Cursos entre outros com objetivo de beneficiar nosso prestadores de serviço e os
                        passageiros.</p>
                </div>
            </div>
            <!-- Single Special Area -->
            <div class="col-12 col-md-3">
                <div class="single-special text-center wow fadeInUp" data-wow-delay="0.6s">
                    <div class="single-icon">
                        <i class="ti-announcement" aria-hidden="true"></i>
                    </div>
                    <h4>Humanização</h4>
                    <p>Como nosso custo é menor, cremos que nossos motoristas podem trabalhar menos e ter mais conforto
                        e qualidade de vida.</p>
                </div>
            </div>
            <!-- Single Special Area -->
            <div class="col-12 col-md-3">
                <div class="single-special text-center wow fadeInUp" data-wow-delay="0.6s">
                    <div class="single-icon">
                        <i class="ti-ticket" aria-hidden="true"></i>
                    </div>
                    <h4>Promoções do App</h4>
                    <p>Temos sorteios semanais para Motoristas e Passageiros. Confira nosso <a href="#">Clube de
                            Vantagens BIU</a></p>
                </div>
            </div>
        </div>
    </div>

    <!-- Special Description Area -->
    <div class="has-overlay">
        <div class="special_description_area pt-150 pb-60" id="sobre">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="special_description_img">
                            <img src="./assets/img/mobile-2.png" alt="App Homo Driver">
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-5 ml-xl-auto">
                        <div class="special_description_content">
                            <h2 class="section-title mt-5">Chama <strong>O BIU</strong></h2>
                            <p>Somos a evolução da evolução, queremos ser HUMANOS, ter como parceiros motoristas e a
                                comunidade.</p>
                            <br>
                            <p> Para os <strong>PASSAGEIROS </strong> queremos: </p>
                            <p>Proporcionamos mais tranquilidade e segurança para os passageiros durante as corridas,
                                além de contribuir para que cada passageiro possa se sentir melhor dentro de nosso app.
                                Nossos Motoristas tem o carro Vistoriado para garantir a qualidade e segurança dos
                                passageiros.
                                Motoristas Felizes = Passageiros Satisfeitos! Uma cidade melhor!
                            </p>
                            <br>
                            <p> Para os <strong>MOTORISTAS </strong> vislumbramos: </p>
                            <p>Parcerias com Postos de Gasolina, onde sortearemos Vouchers de Combustível para
                                motoristas que forem parceiros e fieis ao App, e tem muito mais! Descontos em Farmácias,
                                Cursos de Ingles, Cursos Profissionalizantes, Vouchers em Restaurantes e um <strong>CLUBE DE
                                DESCONTOS</strong> com os parceiros da Cidade!</p>
                            <p>
                                Nossa divulgação é em parceria com o comercio local, Restaurantes, Shoppings, Salões de
                                beleza, queremos ser parceiros e amigos dos comércios.
                                Além de parcerias, damos Voucher para serviços desses parceiros.
                            </p>
                            <p> Entre em contato conosco e faça seu negócio um <strong>Parceiro BIU.</strong></p>

                            <div class="app-download-area">
                                <div class="app-download-btn wow fadeInUp">
                                    <!-- Google Store Btn -->
                                    <a class="download-app download-app-google" href="javascript:void(0)">
                                        <i class="fa fa-android"></i>
                                        <p class="mb-0"><span>disponível na</span> Google Store</p>
                                    </a>
                                </div>
                                <div class="app-download-btn wow fadeInDown">
                                    <!-- Apple Store Btn -->
                                    <a class="download-app download-app-apple" href="javascript:void(0)">
                                        <i class="fa fa-apple"></i>
                                        <p class="mb-0"><span>disponível na</span> Apple Store</p>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>