<header class="header_area animated">
    <div class="container-fluid">
        <div class="row align-items-center">
            <!-- Menu Area Start -->
            <div class="col-12 col-lg-10">
                <div class="menu_area">
                    <nav class="navbar navbar-expand-lg navbar-light" style="padding-left: 0; padding-right: 0;">
                        <!-- Logo -->
                        <a class="navbar-brand" href="#principal">
                            <img class="img-logo" src="./assets/img/logo.png" width="100">
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ca-navbar"
                            aria-controls="ca-navbar" aria-expanded="false" aria-label="Toggle navigation"><span
                                class="navbar-toggler-icon"></span></button>
                        <!-- Menu Area -->
                        <div class="collapse navbar-collapse" id="ca-navbar">
                            <ul class="navbar-nav ml-auto" id="nav">
                                <li class="nav-item dropdown" id="navbarDropdown">
                                    <a class="nav-link menu-link dropdown-toggle" href="#parceiro">Motorista</a>

                                    <div class="dropdown-menu" id="menudicas" aria-labelledby="navbarDropdown"
                                        style="margin-top: 0px; border-top: 0px; padding-top: 0px; padding-bottom: 0px; border-radius: 30px">
                                        <a class="nav-link menu-link dropdown-item" href="dicas.pdf" target="_blank"
                                            style="font-size: 14.5px;" download><strong>Dicas</strong></a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link menu-link" href="#sobre">Empresa</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link menu-link" href="#cliente">Passageiro</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link menu-link" href="franquia.html">Franquia</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link menu-link" href="#download">Download</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link menu-link" href="#servicos">Serviços</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link menu-link" href="#locais">Locais</a>
                                </li>
                                <li class="nav-item dropdown" id="navbarDropdownHelp">
                                    <a class="nav-link menu-link dropdown-toggle" href="#contato">Ajuda</a>

                                    <div class="dropdown-menu" id="menuajuda" aria-labelledby="navbarDropdownHelp"
                                        style="margin-top: 0px; border-top: 0px; padding-top: 0px; padding-bottom: 0px; border-radius: 21px">
                                        <a class="nav-link menu-link dropdown-item" href="#contato"
                                            style="font-size: 14.5px; border-top-right-radius: 20px; border-top-left-radius: 20px; border-bottom-left-radius: 0px; border-bottom-right-radius: 0px;"><strong>Contato</strong></a>
                                        <a class="nav-link menu-link dropdown-item" id="faq-page" href="faq.html"
                                            style="font-size: 14.5px; border-top-right-radius: 0px; border-top-left-radius: 0px; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;"><strong>FAQ</strong></a>
                                    </div>
                                </li>
                                <!-- <li class="nav-item">
                                <a class="nav-link menu-link" href="#contato">Contato</a>
                            </li> -->
                            </ul>
                            <div class="sing-up-button d-lg-none">
                                <a href="#download">Quero ser motorista</a>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
            <!-- Signup btn -->
            <div class="col-12 col-lg-2">
                <div class="sing-up-button d-none d-lg-block">
                    <a href="#download">Quero ser motorista</a>
                </div>
            </div>
        </div>
    </div>
</header>