<section class="wellcome_area clearfix" id="principal">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 col-md-6">
                <div class="wellcome-heading">
                    <h2>#chamaobiu</h2>
                    <h3>BIU</h3>
                </div>
                <div class="get-start-area">
                    <div class="app-download-area">
                        <div class="app-download-btn wow fadeInUp">
                            <!-- Google Store Btn -->
                            <a class="download-app download-app-google" href="javascript:void(0)">
                                <i class="fa fa-android text-white"></i>
                                <p class="mb-0 text-white"><span>disponível na</span> Google Store</p>
                            </a>
                        </div>
                        <div class="app-download-btn wow fadeInDown">
                            <!-- Apple Store Btn -->
                            <a class="download-app download-app-apple" href="javascript:void(0)">
                                <i class="fa fa-apple text-white"></i>
                                <p class="mb-0 text-white"><span>disponível na</span> Apple Store</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Welcome thumb -->
    <div class="welcome-thumb wow fadeInDown" data-wow-delay="0.5s">
        <img src="./assets/img/background/mobile.webp" alt="">
    </div>

</section>