<!-- Welcome -->
<app-welcome></app-welcome>
<!-- Welcome -->

<!-- Quem Somos -->
<app-quem-somos></app-quem-somos>
<!-- Quem Somos -->

<!-- Recurso -->
<app-recurso></app-recurso>
<!-- Recurso -->

<!-- Video -->
<app-video></app-video>
<!-- Video -->

<!-- Numeros -->
<app-numeros></app-numeros>
<!-- Numeros -->

<!-- Download -->
<app-download></app-download>
<!-- Download -->




<!-- ***** Pricing Plane Area Start *****==== -->
<section class="pricing-plane-area section_padding_100_70 clearfix" id="servicos">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Heading Text  -->
                <div class="section-heading text-center">
                    <h2 class="section-title">Serviços</h2>
                    <div class="line-shape"></div>
                    <h5 class="pt-60 text-gray">A Homo Driver executa tarifas competitivas que favorecem o passageiro e
                        o
                        motorista parceiro. Proporcionamos aos usuários mais segurança, empatia e liberdade durante
                        nossas
                        corridas.</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4">
                <div id="homo-driver-card" class="single-special-white text-center wow">
                    <div class="single-icon">
                        <img src="./assets/img/bg-img/Driver.png">
                    </div>
                    <h4>Driver</h4>
                    <p>Carro comum</p>
                    <p>Requisitos mínimos:</p>
                    <p>Idade máxima 7 anos</p>
                    <p>4 portas e 5 lugares</p>
                    <p>Ar condicionado.</p>

                </div>
            </div>
            <div class="col-12 col-md-4">
                <div id="homo-executive-card" class="single-special-white text-center wow">
                    <div class="single-icon">
                        <img src="./assets/img/bg-img/Executivo.png">
                    </div>
                    <h4>Executive</h4>
                    <p>Carro com porta-malas maior</p>
                    <p>Requisitos mínimos:</p>
                    <p>Idade máxima 5 anos</p>
                    <p>Sedan; 4 portas e 5 lugares</p>
                    <p>Ar condicionado</p>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div id="homo-lux-card" class="single-special-white text-center wow">
                    <div class="single-icon">
                        <img src="./assets/img/bg-img/Luxo.png">
                    </div>
                    <h4>Luxo</h4>
                    <p>Luxo</p>
                    <p>Requisitos mínimos:</p>
                    <p>Idade máxima 5 anos</p>
                    <p>Apenas veículos SEDAN e SUV</p>
                    <p>Ar condicionado e Bancos de couro</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-4">
                <div id="homo-taxi-card" class="single-special-white text-center wow">
                    <div class="single-icon">
                        <img src="./assets/img/bg-img/Taxi.png">
                    </div>
                    <h4>Táxi</h4>
                    <p>Táxi</p>
                    <p>Requisitos mínimos:</p>
                    <p>Máximo 5 anos de fabricação</p>
                    <p>Apenas veículos SEDAN</p>
                    <p>4 portas e 5 lugares</p>
                    <p>Ar condicionado.</p>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div id="homo-pet-card" class="single-special-white text-center wow">
                    <div class="single-icon">
                        <img src="./assets/img/bg-img/Pet.png">
                    </div>
                    <h4>Pet</h4>
                    <p>Aceita transportar animais</p>
                    <p>Requisitos mínimos:</p>
                    <p>Idade máxima 7 anos</p>
                    <p>4 portas e 5 lugares</p>
                    <p>Ar condicionado</p>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div id="homo-baby-card" class="single-special-white text-center wow">
                    <div class="single-icon">
                        <img src="./assets/img/bg-img/Baby.png">
                    </div>
                    <h4>Baby</h4>
                    <p>Com cadeirinha de elevação</p>
                    <p>Requisitos mínimos:</p>
                    <p>Idade máxima 7 anos</p>
                    <p>4 portas e 5 lugares</p>
                    <p>Ar condicionado</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Pricing Plane Area End ***** -->


<!-- ***** CTA Area Start ***** -->
<section class="our-monthly-membership section_padding_50 clearfix">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="membership-description mb-5">
                    <h2>Junte-se a nós. É gratuito!</h2>
                    <p>Venha fazer parte da nossa comunidade Homo Driver.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="app-download-area mt-0 pl-3">
                    <div class="app-download-btn wow fadeInUp">
                        <!-- Google Store Btn -->
                        <a class="download-app download-app-google" href="javascript:void(0)">
                            <i class="fa fa-android text-white"></i>
                            <p class="mb-0 text-white"><span>disponível na</span> Google Store</p>
                        </a>
                    </div>
                    <div class="app-download-btn wow fadeInDown">
                        <!-- Apple Store Btn -->
                        <a class="download-app download-app-apple" href="javascript:void(0)">
                            <i class="fa fa-apple text-white"></i>
                            <p class="mb-0 text-white"><span>disponível na</span> Apple Store</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** CTA Area End ***** -->



<!-- ***** Our Team Area Start ***** -->
<section class="app-bg-area bg-gray section_padding_100_70 clearfix" id="locais">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Heading Text  -->
                <div class="section-heading text-center">
                    <h2 class="section-title">Locais</h2>
                    <div class="line-shape"></div>
                </div>
            </div>
        </div>

        <div class="app_bg_slides owl-carousel">
            <div class="single-shot">
                <img src="./assets/img/bg-img/grande-bh.png" alt="">
            </div>
            <!-- <div class="single-shot">
                    <img src="img/bg-img/grande-floripa.png" alt="">
                </div> -->
        </div>
    </div>
</section>
<!-- ***** Our Team Area End ***** -->



<!-- ***** Contact Us Area Start ***** -->
<section class="footer-contact-area section_padding_50 clearfix" id="contato">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <!-- Heading Text  -->
                <div class="section-heading">
                    <h2 class="section-title">Tem uma dúvida? <br>A gente te ajuda ;)</h2>
                    <div class="line-shape"></div>
                </div>
                <div class="footer-text">
                    <p>Se você tem alguma dúvida, sugestão ou reclamação, entre em contato conosco através do e-mail
                        abaixo ou
                        nos enviando uma mensagem.</p>
                </div>
                <div class="email-text">
                    <p><span>Email:</span> contato@homodriver.com.br</p>
                </div>
            </div>
            <div class="col-md-6">
                <!-- Form Start-->
                <div class="contact_from">
                    <form action="#" method="post">
                        <!-- Message Input Area Start -->
                        <div class="contact_input_area">
                            <div class="row">
                                <!-- Single Input Area Start -->
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="name" id="name" placeholder="Nome"
                                            required>
                                    </div>
                                </div>
                                <!-- Single Input Area Start -->
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="email" class="form-control" name="email" id="email"
                                            placeholder="E-mail" required>
                                    </div>
                                </div>
                                <!-- Single Input Area Start -->
                                <div class="col-12">
                                    <div class="form-group">
                                        <textarea name="message" class="form-control" id="message" cols="30" rows="4"
                                            placeholder="Mensagem" required></textarea>
                                    </div>
                                </div>
                                <!-- Single Input Area Start -->
                                <div class="col-12">
                                    <button type="submit" class="btn submit-btn"
                                        data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Enviando...">Enviar</button>
                                </div>
                            </div>
                        </div>
                        <!-- Message Input Area End -->
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Contact Us Area End ***** -->






<!-- ***** Modal Google Download ***** -->
<div class="modal fade" id="download-modal-google" tabindex="-1" role="dialog" aria-labelledby="download-modal-title"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-white" id="download-modal-title">App Homo Driver</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="single-special text-center">
                                <div class="single-icon">
                                    <img src="./assets/img/bg-img/store-rider.png">
                                </div>
                                <h4>Passageiro</h4><br>
                                <a class="btn btn-outline-pink btn-lg"
                                    href="https://play.google.com/store/apps/details?id=br.com.biu.passenger.drivermachine"
                                    target="_blank">
                                    <i class="fa fa-android"></i>
                                    <span class="">Download</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="single-special text-center">
                                <div class="single-icon">
                                    <img src="./assets/img/bg-img/store-driver.png">
                                </div>
                                <h4>Motorista</h4><br>
                                <a class="btn btn-outline-pink btn-lg"
                                    href="https://play.google.com/store/apps/details?id=br.com.biu.taxi.drivermachine"
                                    target="_blank">
                                    <i class="fa fa-android"></i>
                                    <span class="">Download</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** END Modal Google Download ***** -->



<!-- ***** Modal Apple Download ***** -->
<div class="modal fade" id="download-modal-apple" tabindex="-1" role="dialog" aria-labelledby="download-modal-title"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-white" id="download-modal-title">App Homo Driver</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="single-special text-center">
                                <div class="single-icon">
                                    <img src="./assets/img/bg-img/store-rider.png">
                                </div>
                                <h4>Passageiro</h4><br>
                                <a class="btn btn-outline-pink btn-lg"
                                    href="https://apps.apple.com/br/app/biu/id1479894059" target="_blank">
                                    <i class="fa fa-apple"></i>
                                    <span class="">Download</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="single-special text-center">
                                <div class="single-icon">
                                    <img src="./assets/img/bg-img/store-driver.png">
                                </div>
                                <h4>Motorista</h4><br>
                                <a class="btn btn-outline-pink btn-lg"
                                    href="https://apps.apple.com/br/app/homo-driver-motorista/id1442859064?mt=8"
                                    target="_blank">
                                    <i class="fa fa-apple"></i>
                                    <span class="">Download</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** END Modal Apple Download ***** -->