<!-- Welcome -->
<app-welcome></app-welcome>
<!-- Welcome -->

<!-- Quem Somos -->
<app-quem-somos></app-quem-somos>
<!-- Quem Somos -->

<!-- Recurso -->
<app-recurso></app-recurso>
<!-- Recurso -->

<!-- Video -->
<app-video></app-video>
<!-- Video -->

<!-- Numeros -->
<app-numeros></app-numeros>
<!-- Numeros -->

<!-- Download -->
<app-download></app-download>
<!-- Download -->

<!-- Servico -->
<app-servico></app-servico>
<!-- Servico -->

<!-- Section Download -->
<app-section-download></app-section-download>
<!-- Section Download -->

<!-- Local -->
<app-local></app-local>
<!-- Local -->

<!-- Contato -->
<app-contato></app-contato>
<!-- Contato -->

