<section class="our-monthly-membership section_padding_50 clearfix">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="membership-description mb-5">
                    <h2>Junte-se a nós. É gratuito!</h2>
                    <p>O BIU É DE NITERÓI E NITERÓI CHAMA O BIU!</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="app-download-area mt-0 pl-3">
                    <div class="app-download-btn wow fadeInUp">
                        <!-- Google Store Btn -->
                        <a class="download-app download-app-google" href="javascript:void(0)">
                            <i class="fa fa-android text-white"></i>
                            <p class="mb-0 text-white"><span>disponível na</span> Google Store</p>
                        </a>
                    </div>
                    <div class="app-download-btn wow fadeInDown">
                        <!-- Apple Store Btn -->
                        <a class="download-app download-app-apple" href="javascript:void(0)">
                            <i class="fa fa-apple text-white"></i>
                            <p class="mb-0 text-white"><span>disponível na</span> Apple Store</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>