<section class="awesome-feature-area bg-white section_padding_0_50 clearfix" id="cliente">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Heading Text -->
                <div class="section-heading text-center">
                    <h2 class="section-title">Chama <strong>O BIU</strong></h2>
                    <div class="line-shape"></div>
                    <h5 class="pt-60 text-gray">Para o trabalho, para a escola, para a noitada. Talvez você queira ir
                        para academia ou encontrar os amigos. Após um dia cansativo pode estar apenas com vontade de
                        chegar em casa para descansar. Desfrute de todo o conforto e segurança viajando com nossos
                        motoristas parceiros, utilize o aplicativo CHAMA O BIU.
                    </h5>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Single Feature Start -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-feature">
                    <i class="ti-star" aria-hidden="true"></i>
                    <h5>App HUMANIZADO</h5>
                    <p>A cada viagem você contribui para a melhora da qualidade de vida de nossos motoristas pareceiros,
                        pois aqui, a taxa é menor! Apenas uma pequena taxa por corrida!
                    </p>
                </div>
            </div>
            <!-- Single Feature Start -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-feature">
                    <i class="ti-check" aria-hidden="true"></i>
                    <h5>Indique</h5>
                    <p>Indique um vizinho, um amigo, um comercio, para baixar o aplicativo Chama o Biu e seja
                        responsável pelo crescimento do nosso projeto.
                    </p>
                </div>
            </div>
            <!-- Single Feature Start -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-feature">
                    <i class="ti-user" aria-hidden="true"></i>
                    <h5>Motoristas Felizes</h5>
                    <p>Nossos Motoristas Parceiros tem o carro vistoriado e tem uma pequena taxa, que deixa ele FELIZ!
                    </p>
                </div>
            </div>
            <!-- Single Feature Start -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-feature">
                    <i class="ti-money" aria-hidden="true"></i>
                    <h5>Tarifas Competitivas</h5>
                    <p>Tarifas por viagem competitivas que favorecem o passageiro e o motorista parceiro.</p>
                </div>
            </div>
        </div>

    </div>
</section>